<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="r5_urdf">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import r5_urdf urdf file -->
    <xacro:include filename="$(find arx_r5_controller)/urdf/R5_master.urdf" />

    <!-- Import control_xacro -->
    <xacro:include filename="r5_urdf.ros2_control.xacro" />


    <xacro:r5_urdf_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
